<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.PerficonTemplate">

        <activity
            android:name="com.kian.perficontemplate.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Recognized by icon-pack-aware launchers (Nova, Lawnchair, etc.) -->
                <category android:name="android.intent.category.THEME_CHOOSER" />
            </intent-filter>
            <!-- Discovery intent filters for various launchers -->
            <intent-filter>
                <action android:name="org.adw.launcher.THEMES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.anddoes.launcher.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.novalauncher.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.teslacoilsw.launcher.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.fede.launcher.THEME_ICONPACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.sec.android.intent.action.SUPPORT_THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <!-- CandyBar-compatible icon pack metadata -->
            <meta-data android:name="org.adw.ActivityTweaks.THEME"
                android:resource="@xml/appfilter" />
            <meta-data android:name="com.novalauncher.THEME"
                android:resource="@xml/appfilter" />
        </activity>

    </application>

</manifest>
